---

# Lecture 3

---

- **Recap**
  - slides 15 - 48    
    
- **New topics**

    - [1. Conditionals: if-elif-else](#1.-Conditionals:-if-elif-else)
      (slides 49 - 57)
      - Additional videos: 
        - [Socratica: True and False](https://youtu.be/9OK32jb_TdI?si=OZEVH57-8kaAgFrN)
        - [Socratica: If-then-else](https://youtu.be/f4KOjWS_KZs?si=8c4Jz6X7WQ46C4GV)
    - [2. Loops](#2.-Loops)
      (slides 75 - 95)
        - [2.1. while loop](#2.1.-while-loop)
        - [2.2. for-in loop](#2.2.-for-in-loop)
    - [3. Sequences](#3.-Sequences) (slides 58-74)
        - [3.1. Strings](#3.1.-Strings)
        - [3.2. Lists](#3.2.-Lists) 
           - Additional video: [Socratica: Lists](https://youtu.be/ohCDWZgNIU0?si=aLKSVj-nIehNRGFH)
        - [3.3. Tuples](#3.3.-Tuples)
           - Additional video: [Socratica: Lists and Tuples](https://youtu.be/NI26dqhs2Rk?si=O1-GnOHnmwDA_pHX)

---

## 1. Conditionals: `if-elif-else`

The Python values `True` and `False` are special in-built objects.

They represent boolean type variables. For example:

In [1]:
a = True

In [2]:
print(a)

True

In [3]:
type(a)

bool

Boolean logic (e.g. `and`, `or`, `not`) can be applied, for example:

In [4]:
True and True

True

In [5]:
True and False

False

In [6]:
True or False

True

In [7]:
not False

True

In computer code, we often need to evaluate some expression that is either true or false (sometimes called a "predicate"). For example:

In [8]:
x = 30        # assign 30 to x

In [9]:
x >= 30       # is x greater than or equal to 30?

True

In [10]:
x > 15        # is x greater than 15?

True

In [11]:
x > 30        # is x greater than 30?

False

In [12]:
x == 30       # is x the same as 30?

True

In [13]:
not x == 42   # is x not the same as 42?

True

In [14]:
x != 42       # is x not the same as 42

True



The `if-else` command allows to branch the execution path depending on a condition.

The general structure of the `if-else` statement is:

    if A:
        B
    else:
        C
where `A` is the predicate.

- If `A` evaluates to `True`, then all commands `B` are carried out (and `C` is skipped).

- If `A` evaluates to `False`, then all commands `C` are carried out (and `B`) is skipped.

- `if` and `else` are Python keywords.

`B` and `C` can each consist of multiple lines, and are grouped through __indentation__ as usual in Python.


Example:

In [15]:
x = 30             # assign 30 to x

if x > 30:         # predicate: is x > 30
    print("Yes")   # if True, do this   
else:
    print("No")    # if False, do this
    print("Sorry")

No
Sorry

In [16]:
def slength1(s):
    """
    Returns a string describing the
    length of the sequence s.
    """
    if len(s) > 10:
        ans = 'very long'
    else:
        ans = 'normal'

    return ans

In [17]:
slength1("Hello")

'normal'

In [18]:
slength1("HelloHello")

'normal'

In [19]:
slength1("Hello again")

'very long'

- If more cases need to be distinguished, we can use the keyword `elif` (standing for ELse IF) as many times as desired:

In [20]:
def slength2(s):
    """
    Returns a string describing the
    length of the sequence s.
    """    
    if len(s) == 0:
        ans = 'empty'
    elif len(s) > 10:
        ans = 'very long'
    elif len(s) > 7:
        ans = 'normal'
    else:
        ans = 'short'

    return ans

In [21]:
slength2("")

'empty'

In [22]:
slength2("Good morning")

'very long'

In [23]:
slength2("Greetings")

'normal'

In [24]:
slength2("Hi")

'short'

Other types of logical statements (predicates):

    x == 1          # is x the same as 30?
    x > 30          # is x greater than 30?
    x >= 3          # is x greater than or equal to 30?
    x < 50          # is x smaller than 30?
    x <= 2          # is x smaller than or equal to 30?
    x != 0          # is x not the same as 0?
    
evaluation of `True` or `False` based on boolean logic

- We can also use logical operations `and`, `or`, `not`, ...
- `True` and `False`are special inbuilt objects

---

## 2. Loops

- Computers are good at repeating tasks (often the same task for many different sets of data).


- Loops are the way to execute the same (or very similar) tasks repeatedly ( _in a loop_ ).


- Python provides the `while` loop and the `for` loop.

### 2.1. `while` loop

A `while` loop iterates while a condition is fulfilled. The general structure of the `while` statement is:

    while A:
        B

where `A` is the predicate. All commands `B` are iterated through while the condition `A` evaluates to `True`.

If `B` consists of multiple lines, they are grouped through __indentation__ as usual in Python.

Example:

In [25]:
x = 64
while x > 10: 
    x = x // 2   # integer division
    print("printing:", x)

printing: 32
printing: 16
printing: 8

Example (a zero in computer precision):

In [26]:
eps = 1.0
while eps + 1 > 1:
    eps = eps / 2.0
print("epsilon is", eps)

epsilon is 1.1102230246251565e-16

which is identical to:

In [27]:
eps = 1.0
while True:
    if eps + 1 == 1:
        break       # leaves innermost loop
    eps = eps / 2.0
print("epsilon is", eps)

epsilon is 1.1102230246251565e-16

### 2.2. `for-in` loop

A for-loop iterates over sequences. The general structure of the statement is:

    for V in A:
        B

where `V` is a variable and `A` is the sequence (also called an iterable). During iterations `V` takes consecutively the elements from `B` until reaching the last element.

If `B` consists of multiple lines, they are grouped through __indentation__ as usual in Python.

Example:

In [28]:
for animal in ['dog', 'cat', 'mouse']:
    print("This is the", animal)

This is the dog
This is the cat
This is the mouse

The for-loop `iterates` through the sequence (defined by square brackets) and assigns the values in the sequence subsequently to the variable `animal`.


Equivalently, we can define the sequence alternatively by naming it:

In [29]:
animals = ['dog', 'cat', 'mouse'] # this type of sequence is called list

for animal in animals:
    print("This is the", animal)

This is the dog
This is the cat
This is the mouse

Iterate over a sequence of integers:

In [30]:
for i in [0, 1, 2, 3, 4, 5]:
    print("the square of {} is {}".format(i, i**2))

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

Equivalently, the function `range` can be used to iterate over a sequence of integers:

In [31]:
for i in range(6):  # all integers from zero to 5 (the last element 6 excluded)
    print("the square of {} is {}".format(i, i**2))

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

In [32]:
for i in range(2, 6): # start from number 2
    print("the square of {} is {}".format(i, i**2))

the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

In [33]:
for i in range(1, 6, 2): # start from number 1 increment in steps of 2
    print("the square of {} is {}".format(i, i**2))

the square of 1 is 1
the square of 3 is 9
the square of 5 is 25

Another example:

In [34]:
for letter in "Hello World":     # strings are
    print(letter)                # sequences

H
e
l
l
o

W
o
r
l
d

Example (important):

Write a function `mysum` that takes as input an integer number `N` and calculates the sum of integers from 1 to N.

In [35]:
def mysum(N):
    """
    Function takes input N and calculates the sum of 
    integers 1...N, returning the sum.
    """

    s = 0      # initialise summation
    for i in range(N):
        s = s + i
    return s

In [36]:
mysum(5)  # function call

10

In [37]:
mysum(500)

124750

How could we change this example of calculating a sum of integers to instead calculate their product?

---

## 3. Sequences

Python recognises different types of sequences:

- strings (immutable)
- lists (mutable)
- tuples (immutable)
- arrays (mutable, part of numpy - will appear in future lectures)

They share common commands.

### 3.1. Strings

In [38]:
a = "Hello World"

type(a)

str

In [39]:
len(a)  # length of a string

11

In [40]:
print(a)

Hello World

Different possibilities to limit strings:


    'A string'

    "Another string"

    "A string with a ' in the middle"
    
    """A string with triple quotes can
    extend over several
    lines"""

In [41]:
a = "One"
b = "Two"
c = "Three"

In [42]:
d = a + b + c   # concatenate strings

In [43]:
d

'OneTwoThree'

In [44]:
5*d   # repeated concatenation of strings

'OneTwoThreeOneTwoThreeOneTwoThreeOneTwoThreeOneTwoThree'

In [45]:
d[0]  # indexing

'O'

In [46]:
d[1]

'n'

In [47]:
d[2]

'e'

In [48]:
d[3:11]  # slicing

'TwoThree'

In [49]:
d[3:]

'TwoThree'

Example:

Count the number of letters _e_ in the sentence: _My first look at Python was an accident, and I didn't much like what I saw at the time._

In [50]:
def count_letters(lett, sent):
    """
    Count letters lett in sentence sent. Return
    the count.
    """
    count = 0
    for i in sent:
        if i == lett:
            count = count + 1
    return count

In [51]:
# my sentence defined a string extending over several lines
s = """My first look at Python was an
       accident, and I didn't much like what
       I saw at the time."""

count_letters('e', s)  # function call

4

More exercises for personal entertainment:

- count the number of substrings `an`

- replace all letters `a` with `0`

- make all letters uppercase

- make all capital letters lowercase, and all lower case letters to capitals

### 3.2. Lists

Syntax:

    []                          # the empty list
    [42]                        # a 1-element list
    [5, 'hello', 17.3]          # a 3-element list
    [[1, 2], [3, 4], [5, 6]]    # a list of lists


- Lists store an ordered sequence of Python objects


- Access through index (and slicing) as for strings.


- use `help()`, often used list methods is `append()`

In [52]:
a = []              # create the list a

type(a)

list

In [53]:
a.append('dog')     # append string 'dog' to it, etc
a.append('cat')
a.append('mouse')

In [54]:
a

['dog', 'cat', 'mouse']

In [55]:
a.append([1, 10, 100, 1000])

In [56]:
a

['dog', 'cat', 'mouse', [1, 10, 100, 1000]]

In [57]:
a[1]     # indexing

'cat'

In [58]:
a[3]

[1, 10, 100, 1000]

In [59]:
a[3][1]  # double index

10

In [60]:
a[0:2]  # slicing

['dog', 'cat']

In [61]:
a[3][2:]

[100, 1000]

In [62]:
'dog' in a   # operator in

True

In [63]:
'fox' in a

False

Recalling `for-in` loops, the sequence we used to iterate through was a list, and we can use our list `a` in the same way:

In [64]:
for i in a:
    print(i)

dog
cat
mouse
[1, 10, 100, 1000]

We can use loops to build list. Consider the previous example but now build a list of x values:

In [65]:
x_output = []  # empty list

x = 64
while x > 10: 
    x = x // 2
    print("printing: {}".format(x))
    x_output.append(x)

print("Output list: {}".format(x_output))
x_output

printing: 32
printing: 16
printing: 8
Output list: [32, 16, 8]

[32, 16, 8]

### 3.3. Tuples

- tuples are very similar to lists


- tuples are _immutable_ (unchangeable) whereas lists are _mutable_ (changeable)


- tuples are defined by comma but usually written using parentheses (i.e. round brackets):

In [66]:
t = 3, 4, 10     # tuple, equivalent to

t = (3, 4, 10)   # parentheses are optional (but we use them more often)

In [67]:
type(t)

tuple

In [68]:
l = [3, 4, 10]   # list (compare with tuple)

In [69]:
type(l)

list

In [70]:
t[1]    # indexing

4

In [71]:
t[:-1]  # slicing

(3, 4)

In [72]:
t[1:]

(4, 10)

In [73]:
max(t)  # maximum element

10

In [74]:
min(t)  # minimum element

3

__Why do we need tuples (in addition to lists)?__

- use tuples if you want to make sure that a set of objects doesn't change.


- allow to assign several variables in one line (known as `tuple packing` and `unpacking`)

        x, y, z = 0, 0, 1


- This allows 'instantaneous swap' of values

        a, b = b, a


- functions return tuples if they return more than one object

        def f(x):
            return x**2, x**3

        a, b = f(x)
    
   

- tuples can be used as keys for dictionaries as they are immutable

### 3.4. Conversions

- We can convert any sequence into a tuple using the `tuple` function:

In [75]:
tuple([1, 4, 'dog'])

(1, 4, 'dog')

Similarly, the `list` function, converts sequences into lists:

In [76]:
list((10, 20, 30))

[10, 20, 30]

We can convert to string:

In [77]:
str(10)

'10'

The function `list` and `tuple` can also convert from iterators:

In [78]:
list(range(5))

[0, 1, 2, 3, 4]

In [79]:
range(5)    # range is an interator function

range(0, 5)

### 3.5. Summary of sequences

- lists, strings and tuples (and arrays) are sequences.


- sequences share the following operations


        a[i]      returns i-th element of a
        a[i:j]    returns elements i up to j-1  
        len(a)    returns number of elements in sequence
        min(a)    returns smallest value in sequence
        max(a)    returns largest value in sequence
        x in a    returns True if x is element in a
        a + b     concatenates a and b
        n * a     creates n copies of sequence a
        
- In this table _a_, _b_ are sequences, _i_, _j_, _n_ are integers

---